@font-face {
    font-family: 'Supreme';
    src: url('./fonts/Supreme-Regular.otf');
    
  }

.text{
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
    font-family : "Supreme";
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.title{
    /* font-size: 20px; */
    font-weight: bold;
    font-family : "Supreme";
    color: #d9d9d9;
    text-align: center;     
}
.nombres{
    font-size: 16px;
    font-family : "Supreme";
    color: #9f9f9f;
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #060606;

}