@font-face {
    font-family: 'Supreme';
    src: url('./fonts/Supreme-Regular.otf');
  }
  
  /* put all the boxing font to all the html */
  * {
    font-family: 'Supreme';
  }
  
  body {
    background-image: url("./assets/space.gif");
    background-size: cover;
    background-color: black;
    color: white;
    font-family: sans-serif;
    text-align: center;
    overflow: hidden;
    /* user-select: none; */
  }
  
  
  
  h1 {
    font-size: 3rem;
  }
  
  nav {
    margin-top: 2rem;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin-bottom: 2.5rem;
  }
  
  nav a {
    text-decoration: none;
    color: black;
    background-color: white;
    font-size: 1.5rem;
    /* Adjust the font size */
    padding: 0.5rem 1rem;
    /* Adjust the padding */
    border: 2px solid white;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
  }
  
  nav a:hover {
    background-color: black;
    color: white;
  }
  
  h3 {
    margin-top: 3rem;
    color: rgb(171, 171, 171);
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .by h3 {
    display: inline-block;
  }
  
  .nombres:hover {
    color: white;
    font-size: 1.2rem;
  }
  
  .icon {
    width: 150px;
    height: 150px;
  }
  
  .links_left {
    margin-right: 10px;
  }
  
  .links_right {
    margin-left: 10px;
  }

  .astronaut-icon {
    background-color: black;
    border-radius: 60%;
  }
  